apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: rq-worker-queue-length
  namespace: {{ project_slug | replace('_', '-') }}
spec:
  scaleTargetRef:
    name: rq-worker
  cooldownPeriod: 60
  minReplicaCount: 1
  maxReplicaCount: 20
  triggers:
    - type: redis
      metadata:
        address: redis:6379
        listName: default
        listLength: "5"
