{
  "cSpell.words": [
    "DLOGIN",
    "excalidraw",
    "{{ project_slug }}"
  ],
  "cSpell.language": "en-GB",
  "cSpell.enabled": true,
  "python.analysis.typeCheckingMode": "basic",
  "python.languageServer": "Pylance",
  "python.analysis.extraPaths": [
    "${workspaceFolder}/src"
  ],
  "python.defaultInterpreterPath": "${workspaceFolder}/.venv/bin/python",
  "python.analysis.diagnosticSeverityOverrides": {
    "reportGeneralTypeIssues": "none"
  }
}
